streamlit==1.30.0
torchaudio==2.1.2
torchvision==0.16.2
pillow==10.2.0
soundfile==0.12.1
accelerate==0.27.2
toml==0.10.2
diffusers[torch]==0.26.3
transformers==4.38.1
einops==0.7.0
opencv-python==4.9.0.80
voluptuous==0.14.2

